{% extends 'index.html' %}
{% block content %}
    {% load static %}
    <form action="{% url 'validate_otp' %}" method="post">
        {% csrf_token %}
    <table align="center" border="0" style="width: 300px;height: 200px">
       <tr>
           <th colspan="2" style="text-align: center;font-size: 25px;font-family: 'Arial Black';background-color: crimson;color: greenyellow">
               OTP Validation Page
           </th>
       </tr>
       <tr>
           <th style="background-color: greenyellow;color: red;font-family: 'Agency FB';font-size: 20px">Contact No</th>
           <th><input type="number" required name="t1"></th>
       </tr>
       <tr>
           <th style="background-color:yellow;color: deeppink;font-family: 'Agency FB';font-size: 20px">OTP</th>
           <th><input type="number" required name="t2"></th>
       </tr>
       <tr>
           <th colspan="2" style="font-family: 'Arial Narrow';background-color: aqua;color: navy">
               <button type="submit">Submit</button>
           </th>
       </tr>
    </table>
    </form>
    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
{% endblock %}